body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

nav {
    background: #0b3d2e;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    padding: 20px;
    max-width: 1400px;
    margin: 24px auto;
    max-height: 1200px;
}

.hero {
    background: green;
    color: white;
    padding: 60px;
    text-align: center;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ffcc00;
    color: black;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    
    text-align: center;
    padding: 20px;
    background: #0b3d2e;
    color: white;
    margin-top:600px;
    clear: both;
    
}