body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}
 
 /* NAVBAR BASE */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #0b3d2e;
    color: white;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* BOTÓN HAMBURGUESA (OCULTO EN PC) */
.menu-btn {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #06251d;
        width:30%;
        text-align:center;
        padding: 10px 0;
        border-radius: 0.2rem;
    }

    .nav-links a {
        margin: 10px 0;
        padding: 2px;
    }
    .nav-links a:hover{
    background-color: #2c2525;
    }
    .menu-btn {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }
}

/* todo luego del navegador */
.container {
    flex: 1;
    padding: 20px;
    max-width: 1400px;
    margin: 24px auto;
    
}

.hero {
    background: green;
    color: white;
    padding: 60px;
    text-align: center;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #ffcc00;
    color: black;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
}
section h1{
font-size: 36px;
color: rgb(9, 63, 9);
padding: 6px;
text-align: center;
}
.titulo{
margin-top: 16px;
}
.titulo h2{
color: #061125;
}
#titulo{
max-width: 1200px;
margin: 24px auto;
background-color: aliceblue;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
border-radius: 0.4rem;
}
#titulo p{
font-size: 26px;
padding: 16px;
}
.one{
 
margin-top:400px;
}
footer {
    
    text-align: center;
    padding: 20px;
    background: #0b3d2e;
    color: white;
    margin-top: auto;
    clear: both;
    
}