<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
       {% block extra_css %}{% endblock %}
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/lawn-mower.png" type="image/x-icon">   
    <title>Miguel Lawn Services</title>
</head>
<body>
    <nav>
    <h2>🌿 Miguel Lawn Services</h2>
    <div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/prices">Prices</a>
        <a href="/contact">Contact</a>
    </div>
</nav>
  <section>
            <h1>Call Now 240-883-8479</h1>
        </section>
<div class="container">
    {% block content %}{% endblock %}
</div>


<footer>
    <p id="fecha"></p>
</footer>
    <script src="/static/script.js"></script>
    <script src="/static/foto.js"></script>
</body>
</html>










 